/* latin-ext */
@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  src: local('Gudea'), url(font/z8aPAbP9Zel-Pp_KwXJfCA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  src: local('Gudea'), url(font/WTDyO8MdshuMhAnoLO0WMw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  background-color: white;
  font-family: 'Gudea', sans-serif;
  margin: 3% 33% 3% 33%;
}

.name {
  color: #004B6B;
  display: inline-block;
  font-size: 1.4em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact {
  color: #808284;
  display: inline-block;
  font-size: .8em;
  letter-spacing: 1px;
  line-height: 1.1em;
  text-transform: uppercase;
  margin-bottom: 1%;
}

.containers {
  color: #58585B;
  display: inline-block;
  margin-bottom: 2%;
  margin-top: 0.5em;
  text-decoration: none;
}

.links {
  color: #58585B;
  display: inline-block;
  text-decoration: none;
}
  .links:hover {
    color: #004B6B;
  }

.headers {
  color: #004B6B;
  font-size: .9em;
  letter-spacing: 2px;
  margin-top: 3em;
  margin-bottom: .1em;
  text-transform: uppercase;
}

hr {
  border: 1px dotted #A7A9AB;
  border-style: none none dotted; 
  margin: 0 3% 0 0;
}

.titles {
  color: #004B6B;
  display: inline-block;
  font-size: .9em;
  letter-spacing: 1px;
  margin-bottom: -1%;
  text-decoration: none;
}

.years {
  color: #58585B;
  display: inline-block;
  font-size: .8em;
  letter-spacing: 2px;
  margin-bottom: -1%;
  padding-left: .4em;
  text-transform: uppercase;
}
.descriptions {
  color: #808284;
  font-size: .9em;
  font-style: ;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-top: .5em;
  /*margin-top: -1%;*/
}

.details {
  color: #808284;
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 7%;
  margin-top: .01em;
}
